* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 12px;
}


.calculator {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    flex-wrap: wrap;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
}

.result {
    height: 20vh;
    width: 100%;
    background-color: aqua;
}

.buttons {
    display: flex;
    flex: 1;
    gap: 10px;
}

.numbers {
    display: flex;
    flex: 2.5;
    /* same as space 60% as compared to flex 1 of right */
    flex-wrap: wrap;
    gap: 10px;
}

.numbers button {
    width: calc(33.33% - 10px);
    /*3 buttons in row with 10 px gap */
    height: calc(25% - 10px);
    /* 4 buttons in a column */
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*takes 40% space compared to no.s*/
    gap: 10px;
}

.clear-wrap,
.operators,
.equal-wrap {
    flex: 1;
}


.clear,
.equal {
    width: 100%;
    height: calc(100% - 20px);
    font-size: 1.2rem;
    cursor: pointer;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.operators button {
    /* flex: 1;
    width: calc(50% - 10px); */
    flex: 1 1 calc(50% - 5px);
    /* 2 columns */
    height: calc(50% - 5px);
    font-size: 1.2rem;
    cursor: pointer;
}