* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 12px;
}


.calculator {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 400px;
    flex-wrap: wrap;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
}

.result {
    height: 20vh;
    width: 100%;
    margin-bottom: 10px;
    background-color: aqua;
    font-size: 2.5rem;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
    flex: 1;
    width: 100%;

}

.row button {
    flex: 1;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
}

button.zero,
button.answer {
    flex: 2;
    /* Take space of 2 buttons */
}